*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px; 
  
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.panel{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid lightgray;
    display: flex;
    border-radius: 2px;
    padding: 20px 40px;
    margin: 5px 0;
   
}

.login{
   flex-direction: column; 
   align-items: center;
}

.logo{
    width: 65%;
    margin-top: 20px;
    margin-bottom: 30px ;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);
    border: 1px solid lightgray;
    border-radius: 2px;
}

.input-box::placeholder{
    color: #8a8a8a;
    font-size: 12px;
}

.input-box:focus{
    outline: none;
    border: 1px solid #8a8a8a;
}

.button{
    width: 100%;
    margin: 7px 0;
    padding: 7px 0;
    background-color: #b2dffc;
    color: #fff;
    border: none;
}

.divider{
    display: flex;
    width: 100%;
    font-size: 12px;
    color: #8a8a8a;
    font-weight: bold;
    gap: 20px;
    align-items: center;
}

.line{
    flex: 1;
    height: 1px;
    background-color: #8a8a8a;
}

.fb{
    margin: 20px 0;
    color: #3b5998;
    text-decoration: none;
    font-weight: 600;
}

.forgot{
    color: #000;
    text-decoration: nome;
    font-size: 12px;
}

.signup{
    justify-content: center;
    gap: 5px;
    font-size: 14px;
}

.apps{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin: 20px 0;
}

.app-stores{

    display: flex;
    gap: 10px;
    margin-top: 20px ;
}

.app-stores img{
    width: 140px;
    height: auto;
}

@media (max-width: 1024px) {
    .left {
        width: 90%;
    }
}

@media(max-width: 860px){
    .left{
        display: none;
    }
}